<h1>Tasks index</h1>
<ul>
<% @tasks.each do |t| %>
  <li>
    <input type="checkbox" <%= t.completed ? "checked" : false %>>
    <%= link_to t.title, task_path(t.id) %>
  </li>
<% end %>
</ul>

<%= link_to "Create task", new_task_path %>
